@charset "utf-8";
/* CSS Document */

h2 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin-top: 0.1em;
	font-size: 1.8em;
	color: #1995e8;
}

h3,legend{
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	margin-top: 0.1em;
	font-size: 1.2em;
	color: #000080;
}

table tr td{
    font-family: 微软雅黑;
    color: #000080;
    font-size: 16px;
}

body {
	/* background: url(../images/bg.jpg); */
}

img {
	vertical-align: middle;
}

.cmdIcon {
	margin-left: 10px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.imgDisabled {
	cursor: crosshair;
	-webkit-filter: grayscale(1);
	filter: gray;
	filter: grayscale(1);
}

.pagetitle {
	float: left;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
	font-weight: 600;
}

.pagestatus {
	float: right;
	vertical-align: middle;
	color: #0095cd;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 16px/100% 'Microsoft yahei', Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	color: #ffffff;
}

.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
/* blue */
.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee),
    to(#0078a5) );
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee',
    endColorstr='#0078a5' );
}

.blue:disabled {
    color: #999;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee),
    to(#0078a5) );
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee',
    endColorstr='#0078a5' );
}


/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#ededed) );
	background: -moz-linear-gradient(top, #fff, #ededed);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#ededed' );
}

.roundedDivBorder {
	text-align: center;
	text-decoration: none;
	font: 16px/100% 'Microsoft yahei', Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.wrapper {
	clear: both;
	width: 100%;
	margin: 0;
}



.popup_menu{position:absolute; z-index:90; border:1px solid #AEAEAE; padding:2px; width:80px;border-radius:5px;}
.popup_menu a{ display:block; color:#325B8E; text-indent:12px; text-decoration:none; height:26px; line-height:25px; padding-right:5px;}
.popup_menu a:hover{ background:#57B4E4; color:#fff; border-radius:5px;}
#userCtxMenu ul,li{ margin:0; padding:0; list-style:none; font-size:12px;}

#header {
	width: 100%;
	background-color: #09F;
	border-bottom-color: #1995e8; /*#bfbfbf;*/
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-top-color: #1995e8; /*#bfbfbf;*/
	border-top-style: solid;
	border-top-width: 4px
}

sidebar {
	clear: both;
	float: left;
	margin-top:5px;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
	overflow: scroll;
    font-family: "Microsoft YaHei", "黑体", "宋体", sans-serif,"Arial" ;

}

.selected{
	background-color: #7892c2;
	color: white;
}

sidebar ul li {
	text-align: left;
	padding-bottom: 5px;
	font-family: "楷体","Microsoft YaHei";
	font-size:22px;
	list-style:none;
    /*color: red;*/
}


/* form element */
#magContent input[type="text"]{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Microsoft YaHei",montserrat;
  color: #2C3E50;
  font-size: 13px;
}

#magContent input[type="password"],#magContent select{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Microsoft YaHei",montserrat;
  color: #2C3E50;
  font-size: 13px;
}

#magContent ul li{
    border-radius: 5px;
    font-family: "Microsoft YaHei", "黑体", "宋体", sans-serif,"Arial" ;
    margin-top: 0.1em;
    font-size: 1.0em;
}
